.nameContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.outerDivDark {
	background-color: #181a1b;
	width: 100%;
	padding: 7rem;
	display: flex;
	flex-direction: row;
}
.outerDivLight {
	background-color: #d6d3cd;
	width: 100%;
	padding: 7rem;
	display: flex;
	flex-direction: row;
}

.innerDiv {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.subHeader {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	color: #9784a1;
}

.titleHeaderDark {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
	color: white !important;
	padding-bottom: 1rem;
}
.titleHeaderLight {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
	color: black !important;
	padding-bottom: 1rem;
}

.overflowContainer {
	max-width: 70%;
	overflow: hidden;
}

.image {
	border-radius: 50%;
}

.headerDark {
	color: white !important;
	font-weight: 600 !important;
}

.headerLight {
	color: black !important;
	font-weight: 600 !important;
}

.dynamicSlider {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border-color: white;
	border-width: 2px;
	width: calc(var(--content-length) * 100%);
	overflow: hidden;
	position: relative;
	left: calc(-1 * var(--val) * 100%);
	transition: 0.35s;
}

.selectorContainer {
	display: flex;
	flex-direction: row;
	gap: 10px;
	position: relative;
	top: -110px;
}

.roundButtonDark {
	border: 3px solid white;
	width: 20px;
	height: 20px;
	transition: 0.35s;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
}
.roundButtonLight {
	border: 3px solid black;
	width: 20px;
	height: 20px;
	transition: 0.35s;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
}

.activeButtonDark {
	background-color: white;
}
.activeButtonLight {
	background-color: black;
}

.inactiveButton {
	background-color: rgba(145, 140, 161, 0);
}

.nameDark {
	color: white;
	font-weight: 500;
	margin-bottom: -0.2rem;
}
.nameLight {
	color: black;
	font-weight: 500;
	margin-bottom: -0.2rem;
}

.desDark {
	color: #d6d3cd !important;
}
.desLight {
	color: #181a1b !important;
}

.quoteIconDark {
	font-size: 6.5rem;
	color: white;
	font-family: "Work Sans", sans-serif;
	position: relative;
	margin-top: -2rem;
	margin-bottom: 1rem;
}

.quoteIconLight {
	font-size: 6.5rem;
	color: black;
	font-family: "Work Sans", sans-serif;
	position: relative;
	margin-top: -2rem;
	margin-bottom: 1rem;
}

.quoteDark {
	color: #d6d3cd;
	position: relative;
	top: -110px;
	font-family: "Work Sans", sans-serif;
	width: 80%;
	text-align: center;
}

.quoteLight {
	color: #181a1b;
	position: relative;
	top: -110px;
	font-family: "Work Sans", sans-serif;
	width: 80%;
	text-align: center;
}
