.bg {
	background-color: #9784a1;
}

.header {
	color: white !important;
	font-weight: 600;
}

.icon {
	font-size: 3.5rem;
	color: white !important;
}

.num {
	font-size: 2.5rem;
	color: white;
}

.subtitle {
	font-size: 1.4rem;
	color: #d6d3cd;
}

.gap {
	padding-top: 20px !important;
}
