.lectureStyle {
	margin-bottom: 3.125rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem;
	border-radius: 0.313px;
}

.imageStyle {
	width: 9.375rem;
	height: 12.5rem;
	border-radius: 50%;
}

.lectureInfoStyle {
	flex: 1;
	margin-left: 1.875rem;
	font-weight: bold;
	font-size: 0.75rem;
}

.lecturerNameStyleDark {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
}
.lecturerNameStyleLight {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: black;
}

.designationStyle {
	color: #4d68e1;
	text-align: center;
	margin-bottom: 0.625rem;
	font-size: 1.125rem;
	font-weight: bold;
}

.overview-style {
	margin-bottom: 0.625rem;
}

.bgLight {
	background-color: #d6d3cd !important;
}

.bgDark {
	background-color: #181a1b !important;
}

.headerDark {
	color: white !important;
}

.headerLight {
	color: black !important;
}

.textDark {
	color: white !important;
}

.textLight {
	color: black !important;
}
