.divContainer {
	position: relative;
	color: #d6d3cd;
}

.headerDark {
	color: white;
	font-weight: 600;
}
.headerLight {
	color: black;
	font-weight: 600;
}

.textDark {
	color: #d6d3cd;
}
.textLight {
	color: #181a1b;
}

.logo {
	background: none !important;
}

.box1 {
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(90, 138, 236, 1) 0%,
		rgba(230, 32, 254, 1) 100%
	);
	text-align: center;
}

.box2 {
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(53, 155, 215, 1) 0%,
		rgba(129, 132, 191, 1) 50%,
		rgba(213, 67, 152, 1) 100%
	);
	text-align: center;
}

.box3 {
	padding: 5px;
	border-radius: 5px;
	background: #3fc1c9;
	text-align: center;
}

.box4 {
	padding: 5px;
	border-radius: 5px;
	background: #f10000;
	text-align: center;
}

.box5 {
	padding: 5px;
	border-radius: 5px;
	background: #f08811;
	text-align: center;
}

.box6 {
	padding: 5px;
	border-radius: 5px;
	background: black;
	text-align: center;
}

.box7 {
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(244, 21, 32, 1) 0%,
		rgba(0, 0, 0, 1) 74%
	);
	text-align: center;
}

.box8 {
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(191, 43, 43, 1) 0%,
		rgba(203, 50, 50, 1) 33%,
		rgba(225, 120, 120, 1) 62%,
		rgba(253, 163, 163, 1) 89%
	);
	text-align: center;
}

.box9 {
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(69, 20, 0, 1) 0%,
		rgba(168, 22, 18, 1) 100%
	);
	text-align: center;
}

.box10 {
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(90deg, rgba(61, 188, 193, 1) 0%, black 100%);
	text-align: center;
}

.box11 {
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(87, 41, 50, 1) 0%,
		rgba(0, 0, 0, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);
	text-align: center;
}
