.bgDark {
	background-color: #181a1b;
}

.bgLight {
	background-color: #d6d3cd;
}

.headerDark {
	color: white !important;
	font-weight: 600 !important;
}

.headerLight {
	color: black !important;
	font-weight: 600 !important;
}

.textDark {
	color: #d6d3cd !important;
}

.textLight {
	color: #181a1b !important;
}

.btn {
	background-color: #4d68e1 !important;
	color: white;
}

.subHeader {
	color: #9784a1 !important;
}
