/* Global styles for dark mode */
.dark.bg {
    background-color: #d6d3cd;
    color: #2e2e2e;
}

/* Additional styles for dark mode */
.dark.primary {
    color: #4d68e1;
}

.dark.primary-bg {
    background-color: #4d68e1;
}

.dark.secondary {
    color: #fdfcfd;
}

.dark.secondary-bg {
    background-color: #2e2e2e;
}

.dark.accent {
    color: #333333;
}

.dark.accent-bg {
    background-color: #050508;
}

/* Navbar color for dark mode */
.dark.navbar {
    background-color: #333333;
}

/* Global styles for light mode */
.light.bg {
    background-color: #181a1b;
    color: #a7a7a7;
}

/* Additional styles for light mode */
.light.primary {
    color: #4d68e1;
}

.light.primary-bg {
    background-color: #4d68e1;
}

.light.secondary {
    color: #9784a1;
}

.light.secondary-bg {
    background-color: #9784a1;
}

.light.accent {
    color: #765398;
}

.light.accent-bg {
    background-color: #765398;
}

/* Navbar color for light mode */
.light.navbar {
    background-color: #616060;
}
